@media (max-width: 600px) {
.info {
    width: 70%;
}
.container-1 {
    margin: 0px 20px 0px 0px;
}
.row {
    padding-top: 0px;
}
}

/*@media (max-width: 1025px) {
.css-sefji1 {
    width: 100% !important;
    padding: 0px 20px 0px 10px;
}
.chakra-form-control {
    margin: 0px auto;
}
.css-1ukupie {
    padding: 0px 20px 0px 10px;
}
.css-1ebaaun {
    width: 100% !important;
}
.css-n21gh5 {
    padding: 0px 20px 0px 10px;
    width: 100% !important;
}
.css-1t3buq5{
    margin: 0px auto;
}
.css-1kxonj9  {
    width: 70%;
    margin: 0px auto;
}
} */

@media (max-width: 1025px) {
    .css-1t3buq5 {
        width: 100% !important;
        padding: 0px 20px 0px 10px;
    }
    .css-hjep3m {
        display: flex;
        flex-direction: column;
    }
    .css-sefji1 {
        width: 100% !important;
    }
    .css-n21gh5 {
        width: 100% !important;
    }
    .css-1ebaaun {
        margin: 0px auto;
    }
}