*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
ul li{
    font-size: 20px;
    font-weight: 200;
    text-align: start;
}
.head1{
    background-color: rgb(230,239,255) !important;
}
.heading{
    color: #2e557c !important;
}
.a1{
    border-right: 1px dotted blue;
    
}
.head2{
    background-color: #425d81;
}
.blink{
    animation: blinks 2s linear infinite;
}
@keyframes blinks{
    50%{
        opacity: 0;
    }
}
.backimage{
    margin-top: 10px;

    background-image:url("../assets/header-background.jpg");
     background-repeat: no-repeat; 
     background-size: cover;  
     background-position: center;
    
}
.head3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}
.sub-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 30px;
}
.sub-1 ul li{
    list-style-type: none;
    text-align: justify;
}
.a2{
    font-weight: 600;
    font-size: 17px;
    line-height: 34px
}
.logo{
    color: #2e557c;
}
.sub-back{
     background: #1b74b7;
  /* height: 145px; */
  
  padding: 40px 10px;
  background: #518dbb;
  background-repeat: no-repeat;
background-size: cover;
  background-image: url('../assets/header-background.jpg');
}
.sec1{
    padding: 30px 0px 0;
}
.sec1a{
    color: #ef2c40 !important;
    font-weight: 600;
    margin-bottom: 30px !important;
}
.topics-border{
    background-color:#48a3d5;
    padding: 10px;
    color: white;
}

.serr p {
    text-align: justify;
    line-height: 31px;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    margin-bottom: 10px;
    color: #000;
}

.serr a{
    text-align: justify;
    font-size: 20px;
    line-height: 31px;
    font-family: 'Roboto Slab', serif;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    margin-bottom: 10px;
}
.servicess {
    background: linear-gradient(rgb(35 35 35 / 81%), rgba(0, 0, 0, 0.52)) , url('../assets/img1.jpg') no-repeat;
    background-size: cover;
}
.w3-services-heading {
    border-left: 1px solid #fffbe0;
    /* border-right: 1px solid #fffbe0; */
}
.w3-services-heading img {
    transition: 1s;
    -webkit-transition: -webkit-transform 1s;
}
.w3-services-heading img:hover {
    transform: rotate(360deg) translateZ(0); 
    -webkit-transform: rotate(360deg) translateZ(0);
}
.container{
    text-align: center;
}
.row{
    padding-top: 50px;
}
.rows p{
    padding-top: 10px;
}
.w3-services-heading p .color1 {
    background: white;
    border-radius: 600px;
}
.w3-services-heading p .color2 {
    background: white;
    border-radius: 600px;
}
.w3-services-heading p .color3 {
    background: white;
    border-radius: 600px;
}
.w3-services-heading p .color4 {
    background: white;
    border-radius: 600px;
}
.w3-services-heading p .color5 {
    background: white;
    border-radius: 600px;
}.w3-services-heading p .color6 {
    background: white;
    border-radius: 600px;
}
.services{
    background: linear-gradient(rgb(35 35 35 / 81%), rgba(0, 0, 0, 0.52)) , url('../assets/img2.jpg') no-repeat;
    background-size: cover;
}
.w3-services-heading p img {
    font-size: 5em;
    display: block;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.w3-services-heading p {
    font-size: 19px;
    color: #fff;
    line-height: 1.8em;
    letter-spacing: 1px;
    font-weight: 600;
}
/* timeline */
.timeline-body{
    /* background: #425d81; */
    background: #02428d;
}
.timeline-heading{
    color: white;
    text-align: center;

}
.container-1{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}
.timeline{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    opacity: 0;
    animation: fadeInUp 1s forwards;
}
.timeline:nth-child(1) {
    animation-delay: 0.5s;
}

.timeline:nth-child(2) {
    animation-delay: 1s;
}

.timeline:nth-child(3) {
    animation-delay: 1.5s;
}

.timeline:nth-child(4) {
    animation-delay: 2s;
}

.timeline:nth-child(5) {
    animation-delay: 2.5s;
}

.timeline:nth-child(6) {
    animation-delay: 3s;
}

.timeline:nth-child(7) {
    animation-delay: 3.5s;
}

.timeline:nth-child(8) {
    animation-delay: 4s;
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.icon{
    display: flex;
    /* background: linear-gradient(to right,#425d81 45%,#b1dcf5 45%,#b1dcf5 45%,#425d81 50%); */
    background: linear-gradient(to right, #02428d 45%,#ecc94b 45%, #ecc94b 45%,  #02428d 50%);
    order: 2;
    text-align: center;
    color: #fff;
    font-size: 20px;
     flex-basis: 75px;
}
.icon > span{
    font-size: 20px;
    margin: auto;
    /* background: #425d81; */
    /* background: #cbcbd4; */
     background: #02428d;;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    line-height: 40px;
    /* border: 3px solid #b1dcf5; */
    border: 3px solid #ecc94b;
}
.icon i{
    color: #ecc94b;
}
.info{
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    color: #383838;
    order: 3;
    width: 80%;
    padding-left: 10px;
    background: #fff;
    transition: all .6s ease;
    margin-bottom: 3%;
}

.info:hover{
    background:#b1dcf5 ;
}
.info h4{
    margin: 0;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
}
.info p{
    text-transform: uppercase;
    line-height: 1.4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* footer */
.footer-area{
    background-repeat: no-repeat;
    /* /* background: #425d81; */
    /* background: blue; */
   
    background-image:url('../assets/footer-bg.png');

    
}
.footer-tittle p {
    color: #fff;
}
footer p {
    font-size: 14px;
    line-height: 24px;
}
p {
    font-family: "Muli", sans-serif;
    color: #2f455d;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0px;
    padding-left: 5px;
    font-weight: 500;
}
.footer-tittle{
    text-align: start;
}
footer .contact-info__icon {
    margin-right: 8px;
    
}
.contact-info__icon {
    margin-right: 20px;
}
.line {
    content: '';
    display: block;
    width: 92px;
    height: 2px;
    background: #e0a72b;
    border-radius: 25%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.line1 {
    content: '';
    display: block;
    width: 92px;
    height: 2px;
    background: #e0a72b;
    border-radius: 25%;
    margin-top: 15px;
     padding: 0px;
     margin-bottom: 0px;
}
.news-sub{
    margin-top: 0px;
    padding-top: 0px;
}
.footer-tittle ul li a {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
}

.footer-tittle ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.footer-logo{
    display: flex;
    margin-bottom: 10px;
    /* display: flex; */
    /* margin-top: 20px; */
}
.footer-logo img{
    height: 35px;
    background: aliceblue;
    border-radius: 35%;
    width: 35px;
    padding: 1%; 

}
.list{
    list-style-type: none;
}
.text1{
    text-align: justify;
}
.social {
    color: #fff;
    margin-top: 31px;
    font-size: 20px;
}
.footer-area .footer-social a {
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 14px;
    border: 1px solid #e5e5e5;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    margin-right: 8px;
}
/* for desktop */
.whatsapp_float {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 70px;
    height: 70px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 10;
}
.whatsapp_pulse {
    position: fixed;
    bottom: 30px;
    left: 30px;
    z-index: 10;
}
.whatsapp_pulse::after {
    content: '';
    position: fixed;
    bottom: 30px;
    left: 30px;
    width: 70px;
    height: 70px;
    border: 10px solid rgba(37, 211, 102, .75);
    border-radius: 50%;
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.75);
    }
    100% {
        transform: scale(1);
    }
}
@media (min-width: 640px){
    .info,
    .custom{
        width: 38%;
    }
    .box-right .info{
        order: 1;
        padding-right: 10px;
    }
    .box-right .custom{
        order: 3;
    }
    
}
@media (max-width: 640px){
    .head3{
        padding-left:0px;
        padding-right:0px;
    }
   .sub-1{
    gap: 20px;
   }
}

  /* for mobile */
  @media screen and (max-width: 767px) {
    .whatsapp_float {
        width: 50px;
        height: 50px;
        font-size: 22px;
    }

    .whatsapp_pulse::after {
        width: 50px;
        height: 50px;
        border: 7px solid rgba(37, 211, 102, .75); 
    }
}

@media screen and (max-width: 427px) {
    .footer-logo{
        display: flex;
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .single-footer-caption{
        margin-bottom: 10px;
        
    }
    .row{
        padding-top: 10px;
    }
    .footer-area .footer-social a{
        color: #fff;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        font-size: 14px;
        border: 1px solid #e5e5e5;
        line-height: 27px;
        display: inline-block;
        text-align: center;
        margin-right: 4px;
    }
}
.css-jut409 {
    margin-top: 0.5rem;
}

.cricle-rotate h1{
    color: white;
}
.a-logo{
    padding: 0px 6px;
}
.bt-button{
    display: flex;
    justify-content: center;
}
i{
    color: white;
}
i:hover{
    color: black;
}
.link-hover:hover{
    color: black;
    background-color: gold;
    
    transition: all 0.5s ease-in ;
    
}
.margins{
    margin: 21px 0px;
    font-size: medium;
}

.footer-areased{
    background-color:#02428d;
}

.footer-areased .footer-social a {
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 14px;
    border: 1px solid #e5e5e5;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    margin-right: 8px;
}

.lines {
    content: '';
    display: block;
    width: 92px;
    height: 2px;
    background:#e0a72b;
    border-radius: 25%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.line2 {
    content: '';
    display: block;
    width: 92px;
    height: 2px;
    background: #e0a72b;
    border-radius: 25%;
    margin-top: 15px;
     padding: 0px;
     margin-bottom: 0px;
}

.link-hovers:hover{
    color: black;
    background-color: #e0a72b;
    
    transition: all 0.5s ease-in ;
    
}

.hidden{
    display: none;
}


.component {
    opacity: 0;
    transform: translateY(30px); /* Small movement on desktop */
    transition: opacity 0.4s ease-out, transform 0.4s ease-out; /* Smooth transition */
    will-change: opacity, transform; /* Only on animating elements */
}

/* When the component becomes visible */
.component.visible {
    opacity: 1;
    transform: translateY(0); /* Move to original position */
}

/* Base styles for component1 */
.component1 {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out; /* Smooth transition */
    will-change: opacity, transform; /* Only on animating elements */
}

.component1.visible {
    opacity: 1;
    transform: translate3d(0, 0, 0); /* Move to original position */
}


/* Mobile Adjustments for smoother animations */
@media (max-width: 600px) {
    .component {
        opacity: 0;
        transform: translateY(10px); /* Lighter movement on mobile */
        transition: opacity 0.4s ease-out, transform 0.4s ease-out; /* Shorter transition for mobile */
    }

    .component.visible {
        opacity: 1;
        transform: translateY(0); /* Bring it to the original position */
    }

    /* Mobile specific adjustments for component1 */
    .component1 {
        opacity: 0;
        transform: translateY(5px); /* Smaller movement on mobile */
        transition: opacity 0.3s ease-out, transform 0.3s ease-out; /* Shorter transition */
    }

    .component1.visible {
        opacity: 1;
        transform: translateY(0); /* Bring it to the original position */
    }
}
