/* .card {
    width: 100%;
    height: 100%;
    position: relative;
    perspective: 1000px; /* Maintain perspective for the 3D effect */
/* } */

/* .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s cubic-bezier(0.25, 1, 0.5, 1);
    transform-style: preserve-3d; 
}

.card:hover .card-inner {
    transform: rotateY(180deg); 
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
}

.front {
    background-color: white;
    color: black;
}

.back {
    background-color: #f0f0f0;
    transform: rotateY(180deg); 
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}  */
.card {
    width: 355px;
    height: 250px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    position: relative;
    cursor: pointer;
    perspective:"1000px";
    overflow: hidden; /* Hide anything that overflows */
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s; /* Smooth transition for the flip */
    transform-style: preserve-3d; /* Allow 3D effects */
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Hide back side when facing front */
}

.back {
    transform: rotateY(180deg); /* Position back side to be hidden initially */
}

.card.flipped .card-inner {
    transform: rotateY(180deg); /* Rotate card to show back side when flipped */
}


@media screen and (max-width: 427px){
    .card{
        width: 360px;
    }
}


@media screen and (max-width: 380px){
    .card{
        width: 320px;
        height: 240px;
    }
}